[mysqld]
# Змінити користувача на root
user = root

# Змінити порт на 3000
port = 3000

# Змінити директорію даних на /data
datadir = /data

# Увімкнути логування повільних запитів
slow_query_log = 1

# Шлях для логу повільних запитів
slow_query_log_file = /data/mysql-slow.log

# Закоментувати налаштування шляху для логу помилок
# log_error = /var/log/mysql/error.log

# Інші налаштування можуть залишатись без змін
